{% extends "screening/layout.html" %}

{% block extra_head %}
<style>
    html,
    body {
        height: 100%;
    }

    body {
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f8f9fa;
    }
</style>
{% endblock %}

{% block body_class %}text-center{% endblock %}
{% block nav %}
{% endblock %}
{% block body %}
<div class="container">
    <h1 class="h3 mb-3 fw-normal">Welcome</h1>
    {% if message %}
    <div class="mb-3 text-danger">{{message}}</div>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-floating mb-2">
            <input autofocus class="form-control" id="floatingInput" type="text" name="username"
                placeholder="Username" required>
            <label for="floatingInput">使用者名稱</label>
        </div>

        <div class="form-floating mb-2">
            <input class="form-control" id="floatingPassword" type="password" name="password"
                placeholder="Password" required>
            <label for="floatingPassword">密碼</label>
        </div>
        <div class="d-flex gap-2">
            <input class="w-50 btn btn-lg btn-primary" type="submit" value="登入">
            <a href="{% url 'register' %}" class="w-50 btn btn-lg btn-outline-primary">註冊</a>
        </div>
    </form>
</div>
{% endblock %}