{% extends "screening/layout.html" %}

{% block extra_head %}
<style>
    html,
    body {
        height: 100%;
    }

    body {
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f8f9fa;
    }
</style>
{% endblock %}

{% block body_class %}text-center{% endblock %}
{% block nav %}
{% endblock %}
{% block body %}
<div class="container">
    <h1 class="h3 mb-3 fw-normal">註冊</h1>
    {% for message in messages %}
    <div class="mb-3 text-danger">{{ message }}</div>
    {% endfor %}
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="form-floating mb-2">
            <input autofocus class="form-control" id="floatingInput" type="text" name="username"
                placeholder="Username">
            <label for="floatingInput">使用者名稱</label>
        </div>

        <div class="form-floating mb-2">
            <input class="form-control" id="floatingEmail" type="email" placeholder="電子信箱地址" name="email">
            <label for="floatingEmail">電子郵件</label>
        </div>

        <div class="form-floating mb-2">
            <input class="form-control" id="floatingPassword" type="password" name="password"
                placeholder="Password">
            <label for="floatingPassword">密碼</label>
            {% for password_message in password_messages %}
            <small class="form-text text-muted">{{ password_message }}</small>
            {% endfor %}
        </div>

        <div class="form-floating mb-2">
            <input class="form-control" id="floatingConfirmation" type="password" name="confirmation"
                placeholder="Cofirmation">
            <label for="floatingConfirmation">請再輸入一次</label>
        </div>
        <input class="w-100 btn btn-lg btn-primary" type="submit" value="註冊">
    </form>

    已經有帳號了嗎？ <a href="{% url 'login' %}">從這裡登入</a>
</div>
{% endblock %}