{% extends "screening/layout.html" %}

{% block body %}
{% if message %}
<div class="mb-3 text-danger">{{message}}</div>
{% endif %}
<div>
    <form action="{% url 'screening' questionnaire.id %}" method="POST">
        {% csrf_token %}
        <h2>{{ questionnaire.questionnaire_name }}</h2>
        <h3>本問卷的目的在幫助您了解自己的聽力是否對於日常生活造成了影響。即使以選配了助聽器格一段時間可再填一次，有助於了解所配之助聽器是否真有幫助。請在閱讀每項問題後圈選常常、有時或從未。</h3>
        {% for question in questions %}
        <fieldset>{{ question.question_text }}</fieldset>
        <label>常常</label>
        <input type="radio" name="{{ question.id}}" value="4">
        <label>有時</label>
        <input type="radio" name="{{ question.id}}" value="2">
        <label>從未</label>
        <input type="radio" name="{{ question.id}}" value="0">

        {% endfor %}
        <input type="submit" value="送出">
    </form>
</div>
{% endblock %}