{% extends "screening/layout.html" %}

{% block body %}
{% if message %}
<div class="mb-3 text-danger">{{message}}</div>
{% endif %}
<div>
    <form action="{% url 'screening' questionnaire.id %}" method="POST">
        {% csrf_token %}
        {{ formset.management_form }}
        <h2 class="mt-3">{{ questionnaire.questionnaire_name }}</h2>
        <p class="h3 text-muted">本問卷的目的在幫助您了解自己的聽力是否對於日常生活造成了影響。即使以選配了助聽器格一段時間可再填一次，有助於了解所配之助聽器是否真有幫助。請在閱讀每項問題後圈選常常、有時或從未。
        </p>
        {% for question, form in question_form %}
        <div class="card mb-3">
            <div class="card-body">
                <p class="fw-bold fs-5">{{ question }}</p>
                {{ form.score }}
                {{ form.question_id }}
            </div>
        </div>
        {% endfor %}
        <div class="text-center">
            <input class="btn btn-primary btn-lg" type="submit" value="送出">
        </div>

    </form>
</div>
{% endblock %}